@use "../global/variables.scss" as var;

.button {
  padding: 16px;
  font-family: var.$primary-font;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: var.$alice-blue;
  border: none;
  background-color: var.$purple;
  border-radius: 40px;
  transition: 0.3s ease-out;

  &:hover {
    background-color: var.$dark-orchid;
  }

  &:active {
    background-color: rgba(var.$purple, 0.6);
  }
}
