/* Fonts */
$primary-font: "Raleway", "Arial", sans-serif;
$secondary-font: "Comfortaa", "Comic Sans MS", cursive;

/* Breakpoints */

$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
$additional-width: 355px;

/* Colors */

$black: #000000;
$alice-blue: #fbfcfe;
$alice-blue-2: #f1f6fc;
$edward: #8e9892;
$purple: #6a107a;
$hot-purple: #580d65;
$dark-orchid: #b22ec8;
$deep-sea: #0f805d;
$lawn-green: #7bdb0a;
$light-coral: #ff8282;
$transparent: transparent;
